
:root{
    --pry-color: #128;
    --sec-color: #fffa;
    --text-color: #fff;
}

body{
    background-color: var(--pry-color);
    color: var(--text-color);
}

#new-graph{
    background: var(--sec-color);
    color: var(--pry-color);
    padding: 0.5rem;
}

h1{
    background-color: var(--sec-color);
    color: var(--pry-color);
    padding: 1rem;
    margin-bottom: 10px;
}

.newGraph{
    background-color: var(--sec-color);
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

#graphName{
    font-weight: bold;
    font-size: larger;
    background: none;
    border: none;
    width: 100%;
    padding: 0 1rem;
    margin: 0;
}

#graphName:focus{
    background-color: var(--text-color);
}

#newGraph{
    background-color: var(--pry-color);
    color: var(--text-color);
    font-size: x-large;
    border: none;
    margin: 0 1rem;
    border-radius: 2rem 5rem 5rem 2rem;
}

form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: var(--sec-color);
    color: var(--pry-color);
    margin: 1rem 0;
}

input[type="text"]{
    background-color: var(--sec-color);
    color: var(--pry-color);
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    border: 2px solid var(--pry-color);
    font-weight: bold;
}

input[type="submit"]{
    background-color: var(--pry-color);
    color: var(--text-color);
    border: none;
    margin: 0 10rem;
    padding: 0.2rem;
}

.graphData{
    padding: 1rem;
    margin: 1rem 0;
}

table{
    background-color: var(--sec-color);
    color: var(--pry-color);
    width: 100%;
}

th{
    padding: 0.2rem;
    font-weight: bold;
    font-size: large;
    border: 3px solid var(--pry-color);
}

td{
    padding: 0.1rem;
    border: 2px solid var(--pry-color);
}
