
:root{
    --pry-color: #128;
    --sec-color: #fffa;
    --text-color: #fff;
}

body{
    background-color: var(--pry-color);
    color: var(--text-color);
}

#new-graph{
    background: var(--sec-color);
    color: var(--pry-color);
    padding: 0.5rem;
}

h1{
    background-color: var(--sec-color);
    color: var(--pry-color);
    padding: 1rem;
    margin-bottom: 10px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: var(--sec-color);
    color: var(--pry-color);
    margin: 1rem 0;
}

input[type="text"]{
    background-color: var(--sec-color);
    color: var(--pry-color);
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    border: 2px solid var(--pry-color);
    font-weight: bold;
}

input[type="submit"]{
    background-color: var(--pry-color);
    color: var(--text-color);
    border: none;
    margin: 0 10rem;
    padding: 0.2rem;
}

.graph-data{
    background-color: var(--sec-color);
    padding: 1rem;
}

table{
    color: var(--pry-color);
    width: 100%;
}

th{
    padding: 0.2rem;
    font-weight: bold;
    font-size: large;
    border: 3px solid var(--pry-color);
}

td{
    padding: 0.1rem;
    border: 2px solid var(--pry-color);
}

div.graph{
    display: flex;
    flex-direction: row;
    height: 10rem;
    justify-content: space-around;
    margin-top: 1rem;
}

.graph-item{
    position: relative;
    margin-top: 20rem;
    background-color: var(--text-color);
    color: var(--pry-color);
    height: 5rem;
}


#back{
    font-size: large;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    font-size: large;
}